body {
  min-height: 100vh;

  background-color: rgb(30, 30, 30);
  background-image: url('/images/background.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: overlay;

  position: relative;

  margin: 0;
}

html {
  scroll-behavior: smooth;

  cursor: none;
}

::selection {
  background: rgba(255, 255, 255, 0.0);
}