.cursor1 {
    position: fixed;
    left: 0;
    top: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(255, 255, 255);
    z-index: 100;
}

a {
    cursor: none;
}

button {
    cursor: none;
}

.cursor.hover {
    transform: rotate(90deg) scale(1.5);
    border-radius: 500px;
    background: rgba(255, 255, 255, 0.3);
}

.cursor.click {
    transform: scale(0.5);
    opacity: 0.2;
}

.cursor {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
    transform: scale(1);
    opacity: 1;
    transition: background 1s ease, transform 1s ease, opacity 0.5s ease-out;
    transform-origin: center;
}