.navholder {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
}

.nav {
    display: inline-block;
    z-index: 100;
    position: relative;
    padding: 10px;
}

.topnav {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 100;
}

.botnav {
    position: fixed;
    bottom: 120px;
    right: 40px;
    z-index: 100;
}