@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.autotype { 
	border-right: .1em solid black;
	width: 16.5em; 
	width: 10ch;
	font: bold 300% Consolas, Monaco, monospace;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(10, end),
	           blink-caret .5s step-end infinite alternate;
}