.text {
  font-size: 20px;
  align-items: inherit;
}

.text-center {
  display: flex;
  align-items: center;
}

.text-name {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
  display: inline-block;

  position: relative;
  top: -2em;
  left: 5px;
}

.text-link {
  text-decoration: none;
}

.text-date {
  font-size: 10px;
}

.text-justify {
  margin-left: -15px;
}

.text-option {
  padding-bottom: 5px;
}

.text-description {
  font-size: 15px;
}

.text-inline {
  display: inline-block;
  padding-right: 10px;
}

.text-title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
}

::selection {
  background: rgba(255, 255, 255, 0.0);
}

.text-padding {
  padding-top: 20px;
}

.text-font {
  color: #c3c3c3;
  font-family: 'Garamond';
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.logo {
  font-size: 20px;
}