.avatar {
  border-radius: 128px;
  border-style:solid;
  border-width: 3px;
  border-color: rgb(255,255,255, 0.5);
  width: 15%;
  height: 15%;
  opacity: 0.65;
  margin: 28px 28px 15px 28px;
  transition: 0.6s;
  padding: 10px;
}

.avatar:hover {
  transition: 0.6s;
  width: 20%;
  height: 20%;
  padding: 0px;
  opacity: 1;
}

